ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;

}

img {
    position: fixed;
    align-items: center;

}

#search-bar{
    position: fixed;
    align-items: center;
}

footer{
    position: fixed;
    align-items: baseline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}